    <header class="header navbar-fixed-top">
        <!-- Navbar -->
        <nav class="navbar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container js_nav-item">
                    <div class="col-md-12">
                        <div class="navbar-right">
                            <button type="button" class="navbar-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon"></span>
                            </button>
                            <div class="rightbar-navigation">
                                <div class="login-links">
                                    <div class="signup">
                                        <span><img src="img\icons\user-icon.png" alt="User"> </span>
                                        <a href="#"> Login </a> / <a href="#"> Signup </a> </div>
                                </div>
                                <ul class="list-inline">
                                    <li><a href="#" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                                    <li><a href="#" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                                    <li><a href="#" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                                </ul>
                                <div class="login-links">
                                    <div class="signup">
                                        <a href="#"><span><img src="img\icons\search.png" alt="Advanced Search"></span> Advanced Search</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Logo -->
                        <div class="logo header-logowrap">
                            <a class="logo-wrap" href="#body">
                                <img class="logo-img" src="img/logo.png" alt="Suniksha Logo">
                            </a>
                            <div class="form-group select-city">
                                <div class="input-group">
                                    <div class="input-group-addon"><img src="img\icons\area-map.png" alt="Location"></div>
                                    <select class="form-control" placeholder="Select City">
                                            <option selected>Hyderabad</option>
                                            <option>Amaravathi</option>
                                        </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Logo -->
                    <!-- Location -->


                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="side-navbar">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">
                            <li class="js_nav-item nav-item active"><a class="nav-item-child nav-item-hover" href="#">Home</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="buy.html">Buy</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#">Sell</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#">Rent</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#">Manage</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#">Blog</a></li>
                            <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Navbar Collapse -->

            </div>
        </nav>
        <!-- Navbar -->
    </header>